
.DS_Store

*.xcuserstate

DinnerFor2.xcodeproj/xcuserdata/jnordahl.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

DinnerFor2.xcodeproj/project.xcworkspace/xcuserdata/jnordahl.xcuserdatad/UserInterfaceState.xcuserstate
